@model List<ProductsModel>


<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products Page</title>
    <style>

        body {
            font-family: Arial, sans-serif;
            background-image: url('/picpic.jpg'); /* Specify the path to your background image */
            background-size: cover; /* Cover the entire viewport */
            background-position: center; /* Center the background image */
            position: relative; /* Ensure positioning of cart button relative to body */
            height: 100vh; /* Ensure full height of background */
            margin: 0; /* Remove default margin */
        }
        .header{
            text-align:center;
            color:orange;
        }

        


        .search-container, .filter-sort-container {
            margin-bottom: 20px;
            text-align: center;
        }

            .search-container input[type="text"], .filter-sort-container select {
                width: 50%;
                padding: 10px;
                margin-right: 10px;
            }

            .search-container button, .filter-sort-container button {
                padding: 10px 20px;
                background-color: #333;
                color: white;
                border: none;
                cursor: pointer;
            }

        .filter-sort-container {
            display: flex;
            justify-content: center;
            gap: 10px;
        }
        .cart-button {
            position: absolute;
            top: 150px;
            right: 450px;
            cursor: pointer;
            width: 50px; /* Adjust width of the cart button */
            height: auto; /* Automatically adjust height based on width */
        }

    </style>
    
</head>
<body>
    <div class="header">
        <h1>Welcome to Our Products Page</h1>
    </div>

    @using (Html.BeginForm("FilteredProducts", "Products", FormMethod.Post))
    {
        <div class="search-container">
            <input name="searchedInput" type="text" placeholder="Search for products...">
            <button>Search</button>
        </div>
    }
    @using (Html.BeginForm("SortProducts", "Products", FormMethod.Post))
    {
        <div class="filter-sort-container">
            
            <select id="sortOptions" name="selectedFilter">
                <option value="name">Sort by Name</option>
                <option value="price">Sort by Price</option>
                <option value="collection">Filter by Collection</option>
                <option value="stock">Filter by Stock</option>
                <option value="Popularity">Filter by Popularity</option>
                <option value="DateModified">Filter by Reliesed Date </option>
                
            </select>

            <button name="sign" value="down" type="submit">Sort down</button>
            <button name="sign" value="up" type="submit">Sort up</button>

        </div>
    }

    <a href="@Url.Action("Cart", "Products")">
        <img src="/cart.jpg" alt="Cart" class="cart-button">
    </a>

    <div class="container text-center">
        @for (int i = 0; i < Model.Count; i += 4)
        {
            <div class="row">
                @for (int j = i; j < Math.Min(i + 4, Model.Count); j++)
                {
                    <div class="col">
                        <div class="product">
                            <h2 class="product-name">@Model[j].ProductName</h2>
                            <p class="product-id">ID: @Model[j].ProductId</p>
                            <p class="product-price">Price: @(Convert.ToInt32((Model[j].Price * (Convert.ToSingle(100 - Model[j].Discount) / 100))))$</p>
                            <p class="product-Collection">Collection: @Model[j].Collection</p>
                            <p class="product-Description">Description: @Model[j].Description</p>
                            <p class="product-Stock">In stock: @Model[j].Stock</p>
                            <p class="product-Stock">Date Reliesed: @Model[j].DateReliesed.ToString("dd/MM/yyyy")</p>
                            <img src="/bonzopic.jpg" class="product-image" style="width: 100px; height: auto;">
                            <form asp-controller="Products" asp-action="AddToCart" method="post">
                                <input type="hidden" name="productId" value="@Model[j].ProductId" />
                                
                                @if (Model[j].Stock <= 0)
                                {
                                    <button type="submit" class="btn btn-primary">Notify Me</button>
                                }
                                else{
                                <button type="submit" class="btn btn-primary">Add to Cart</button>
                                <button type="submit" class="btn btn-primary">Buy Now</button>
                                }
                            </form>
                        </div>
                    </div>
                }
            </div>
        }
        <form id="logoutForm" asp-controller="Login" asp-action="Logout" method="post">
            <button type="submit" class="btn btn-primary">Log Out</button>
        </form>

    </div>


    
</body>

</html>
