@model ReceiptViewModel;
<html>
<head>
    <link rel="stylesheet" href="/css/Receipt.css" />
</head>
<body>
<div class="card" 
    <div class="card-body">
        <div class="container mb-5 mt-3">
            <!-- Your existing content goes here -->
            <div class="container">
                <div class="col-md-12">
                    <div class="text-center">
                        <i class="fab fa-mdb fa-4x ms-0" style="color:#5d9fc5 ;"></i>
                        <h1 style="font-size: 24px; color: black;">Thank you for your payment</h1>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xl-8">
                        <ul class="list-unstyled">
                            <li style="color: black;">To: <span style="color: #5d9fc5;">@(Model.CurrentAccount.FirstName) @(Model.CurrentAccount.LastName)</span></li>
                            <li style="color: black;">Address:<br />@Model.CurrentAccount.FullAddress</li>
                            <li style="color: black;"><i class="fas fa-phone"></i> Phone:<br />@Model.CurrentAccount.PhoneNumber</li>
                        </ul>
                    </div>
                    <div class="col-xl-4">
                        <p style="color: black;">Invoice</p>
                        <ul class="list-unstyled">
                            <li style="color: black;">
                               <i class="fas fa-circle" style="color:#84B0CA;"></i> <span class="fw-bold">Creation Date: </span>@DateTime.Today.ToString("dd/MM/yyyy")
                            </li>
                            
                        </ul>
                    </div>
                </div>

                <div class="row my-2 mx-1 justify-content-center">
                    <table class="table table-striped table-borderless">
                        <thead style="background-color:#84B0CA ;" class="text-white">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Product name</th>
                                <th scope="col">Description</th>
                                <th scope="col">Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{int counter=0;}
                                @foreach(ProductsModel p in Model.Products){
                                    counter++;
                                    <tr>
                                <th scope="row">@counter</th>
                                    <td style="color: black;">@p.ProductName</td>
                                <td style="color: black;">@p.Description</td>
                                            <td style="color: black;">@p.Price.ToString("C")</td>
                            </tr>
                            }
                            
                        </tbody>
                    </table>
                </div>
                    @{
                        decimal totalPrice = 0;
                        if (Model != null)
                        {
                            totalPrice = Model.Products.Sum(p => p.Price);
                        }
                     }
                     <div class="row">
                    <div class="col-xl-8">
                        <p class="ms-3" style="color: black;">Estimated Delivery Time:<br />6-8 business days upon purchase</p>
                    </div>
                    <div class="col-xl-3">
                        <ul class="list-unstyled">
                            <li class="text-muted ms-3"><span class="text-black me-4">SubTotal</span>@{(float.Parse(totalPrice.ToString()) * 0.85).ToString("C");}</li>
                            <li class="text-muted ms-3 mt-2"><span class="text-black me-4">Tax(15%)</span>@{(float.Parse(totalPrice.ToString()) * 0.15).ToString("C");}</li>
                        </ul>
                        <p class="text-black float-start">
                            <span class="text-black me-3"> Total Amount</span><span style="font-size: 25px;">@totalPrice.ToString("C")</span>
                        </p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-xl-10">
                        <p style="color: black;">Thank you for your purchase</p>
                    </div>
                    <div class="col-xl-2">
                        <div>
                            <form asp-controller="Home" asp-action="Index" method="post" class="d-flex ml-2">
                            <button type="submit" class="btn btn-secondary" >Homepage</button>
                            </form>
                            <form asp-controller="Login" asp-action="Logout" method="post" class="d-flex ml-2">
                            <button type="submit" class="btn btn-secondary" >Logout</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>